<div class="main text-center">
    <h1 class="display-4">Covid-19 Virus</h1>
    <h2 class="lead">Safety and Precautions</h2>
    <hr class="my-4">
    <p>Protect yourself and others from COVID-19</p>
    <p>
        If COVID-19 is spreading in your community, stay safe by taking some simple precautions, 
        such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds,
        cleaning your hands,and coughing into a bent elbow or tissue. Check local advice where you live and work.
        Do it all!
    </p>
    <p>
        What to do to keep yourself and others safe from COVID-19
    </p>
    <li>
        Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough,
    sneeze or speak.
    </li>
    <li>
        Maintain an even greater distance between yourself and others when indoors.
    </li>
    <li>
        The further away,the better.
    </li>
    <li>
        Make wearing a mask a normal part of being around other people.
    </li>
    <hr>
    <p class="display-5">Here are the basics of how to wear a mask:</p>
        <li>Clean your hands before you put your mask on, as well as before and after you take it off.</li>
        <li>Make sure it covers both your nose, mouth and chin.</li>
        <hr>
    <p class="display-5">
        How to make your environment safer
    </p>

    <p class="lead">
        Avoid the 3Cs: spaces that are closed, crowded or involve close contact.
    </p>

    <p>
        Outbreaks have been reported in restaurants, choir practices, fitness classes, nightclubs, 
        offices and places of worship where people have gathered, often in crowded indoor settings
        where they talk loudly, shout, breathe heavily or sing.
    </p>
    <p>
        The risks of getting COVID-19 are higher in crowded and inadequately ventilated 
        spaces where infected people spend long periods of time together in close proximity.
    </p>
    <p> 
        These environments are where the virus appears to spreads by respiratory droplets 
        or aerosols more efficiently, so taking precautions is even more important.
    </p>
    <p>
        Meet people outside. 
        Outdoor gatherings are safer than indoor ones, particularly if indoor spaces are small and without outdoor
        air coming in.
    </p>
    <p class="lead">
        Avoid crowded or indoor settings but if you can’t, then take precautions:
    </p>
    <li>
        Open a window.
    </li>
    <li>
        Increase the amount of ‘natural ventilation’ when indoors.
    </li>
    <li>Don’t forget the basics of good hygiene</li>
    <li>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</li>
    <li>This eliminates germs including viruses that may be on your hands.</li>
    <li>Avoid touching your eyes, nose and mouth.</li>
    <li> Hands touch many surfaces and can pick up viruses.</li>

    <hr>
    <p>
        Once contaminated, hands can transfer the virus to your eyes, nose or mouth.
        From there, the virus can enter your body and infect you.
    </p>
    <hr>
    <li>Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze.</li>
    <li>Then dispose of the used tissue immediately into a closed bin and wash your hands.</li>
    <p>
        By following good ‘respiratory hygiene’, you protect the people around you from viruses,
        which cause colds, flu and COVID-19.
    </p>
    <p>
        Clean and disinfect surfaces frequently especially those which are regularly touched, 
        such as door handles, faucets and phone screens.
    </p>
    <hr>
    <p class="lead">
        What to do if you feel unwell?  
    </p>
    <p>
        Know the full range of symptoms of COVID-19.
    </p>
    <p>
        The most common symptoms of COVID-19 are fever, dry cough, and tiredness. 
        Other symptoms that are less common and may affect some patients include loss of taste or smell, aches and pains,
        headache, sore throat, nasal congestion, red eyes, diarrhoea, or a skin rash.
    </p>
    <p>
        Stay home and self-isolate even if you have minor symptoms such as cough, headache, mild fever,
        until you recover. Call your health care provider or hotline for advice. Have someone bring you supplies. 
    </p>
    <p>
        If you need to leave your house or have someone near you, wear a medical mask to avoid infecting others.
    </p>
    <p>
        If you have a fever, cough and difficulty breathing, seek medical attention immediately.
    </p>
    <p>
        Call by telephone first, if you can and follow the directions of your local health authority.
        Keep up to date on the latest information from trusted sources, such as WHO or your local and national
        health authorities.
        Local and national authorities and public health units are best placed to advise on
        what people in your area should be doing to protect themselves.
    </p>
    <hr>
</div>