<br>
<div class="card-deck">
    <div class="card" style="background: transparent; border: transparent;">
      <div class="card-body">
        <div class="container offset-md-1 col-md-10">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">State/UT</th>
                    <th scope="col">Helpline No.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Andaman & Nicobar</td>
                    <td>03192-232102</td>
                  </tr>
                  <tr>
                    <td>Andra Pradesh</td>
                    <td>0866-2410978</td>
                  </tr>
                  <tr>
                    <td>Arunachal Pradesh</td>
                    <td>9436055743</td>
                  </tr>
                  <tr>
                    <td>Assam</td>
                    <td>6913347770</td>
                  </tr>
                  <tr>
                    <td>Bihar</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Chandigarh</td>
                    <td>9779558282</td>
                  </tr>
                  <tr>
                    <td>Chattisgarh</td>
                    <td>077122-35091</td>
                  </tr>
                  <tr>
                    <td>Dadra Nagar Haveli</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Delhi</td>
                    <td>011-22307145</td>
                  </tr>
                  <tr>
                    <td>Goa</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Gujarat</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Haryana</td>
                    <td>8558893911</td>
                  </tr>
                  <tr>
                    <td>Himachal Pradesh</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Jammu</td>
                    <td>01912520982</td>
                  </tr>
                  <tr>
                    <td>Jharkhand</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Karnataka</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Kashmir</td>
                    <td>01942440283</td>
                  </tr>
                  <tr>
                    <td>Kerala</td>
                    <td>0471-2552056</td>
                  </tr>
                  <tr>
                    <td>Ladakh</td>
                    <td>01982256462</td>
                  </tr>
                  <tr>
                    <td>Lakshadweep</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Madhya Pradesh</td>
                    <td>0755-2527177</td>
                  </tr>
                  <tr>
                    <td>Maharashtra</td>
                    <td>020-26127394</td>
                  </tr>
                  <tr>
                    <td>Manipur</td>
                    <td>3852411668</td>
                  </tr>
                  <tr>
                    <td>Meghalaya</td>
                    <td>108</td>
                  </tr>
                  <tr>
                    <td>Mizoram</td>
                    <td>102</td>
                  </tr>
                  <tr>
                    <td>Nagaland</td>
                    <td>7005539653</td>
                  </tr>
                  <tr>
                    <td>Odisha</td>
                    <td>9439994859</td>
                  </tr>
                  <tr>
                    <td>Puducherry</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Punjab</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Rajasthan</td>
                    <td>0141-2225624</td>
                  </tr>
                  <tr>
                    <td>Sikkim</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Tamil Nadu</td>
                    <td>044-29510500</td>
                  </tr>
                  <tr>
                    <td>Telangana</td>
                    <td>104</td>
                  </tr>
                  <tr>
                    <td>Uttar Pradesh</td>
                    <td>18001805145</td>
                  </tr>
                  <tr>
                    <td>West Bengal</td>
                    <td>3323412600</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card offset-md-4 col-md-5" style="background: transparent; border: transparent;">
      <div class="card-body">
        <p class="card-title display-4" style="color: teal;">STAY HOME, STAY SAFE!</p>
        <h5 class="card-text" style="color: red;"><strong>Central helpline number: 011-23978046</strong></h5>
        <a style="text-decoration: none;" routerLink="/safety"><strong>- &nbsp;  Check for Corona safety and precautions here.</strong></a><br>
      </div>
    </div>
  </div>